name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}        
          
          # Options
          user: khoa301020
          template: classic
          
          plugin_anilist: yes
          plugin_anilist_user: khoa301020
          plugin_anilist_medias: anime, manga
          plugin_anilist_sections: favorites, watching
          plugin_anilist_limit: 10
          
          plugin_traffic: yes
